<div class="wrapper">
  <div class="row">
    <div class="side-navbar col-2 overflow-auto">
      <div class="logo">
        <div class="first-section-menu flex-column">
          <ul class="sidebar-nav">
            <li class="side-bar-header">Pages</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
          </ul>
        </div>
        <div class="second-section-menu">
          <ul class="sidebar-nav">
            <li class="side-bar-header">Pages</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
            <li class="side-bar-item">something on menu</li>
          </ul>
        </div>
      </div>
    </div>
      <div class="main-content col-10">
        <div class="row">
          <div class="left-menu-header col">
            <mat-icon>toc</mat-icon>
            <input matInput type="text">
          </div>
          <div class="right-menu-header m-3 col">
            <div class="float-right">
              <mat-icon>notifications</mat-icon>
              <mat-icon> message</mat-icon>
              <mat-icon>language</mat-icon>
            </div>
            
          </div>
        </div>
        </div>
        <div class="header-navbar">
          
          
    <div class="dashboard">
      <div class="row">
        <div class="col-3">
          <div class="card-som">
            card
          </div>
        </div>
        <div class="col-3">
          <div class="card-som">
            card
          </div>
        </div>
        <div class="col-3">
          <div class="card-som">
            card
          </div>
        </div>
        <div class="col-3">
          <div class="card-som">
            card
          </div>
        </div>
    
      </div>
    </div>
      </div>
  </div>
  
</div>
