<div class="wrapper">
  <div class="row">
    <div class="side-navbar col-2 overflow-auto">
      <div class="logo">
        <div class="first-section-menu flex-column">
          <ul class="sidebar-nav">
            <li class="side-bar-header">Pages</li>
            <li><a routerLink="/goal" routerLinkActive="active">Goal</a></li>
            <li><a routerLink="/chart" routerLinkActive="active">Chart</a></li>
            <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="main-content col-10">
        <div class="row">
          <div class="left-menu-header col">
            <mat-icon>toc</mat-icon>
            <input matInput type="text">
          </div>
          <div class="right-menu-header m-3 col">
            <div class="float-right">
              <mat-icon>notifications</mat-icon>
              <mat-icon> message</mat-icon>
              <mat-icon>language</mat-icon>
            </div>
          </div>
          <div class="content-middle">
            <router-outlet></router-outlet>
          </div>
        </div>
        </div>
  </div>
  
</div>
